<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
        <meta name="author" content="{{ config.extra.author }}">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ get_url(path="site.css") }}"/>
        <link rel="icon" href="{{ get_url(path="favicon.ico") }}">
    </head>
    <body>

        <header>
            <nav class="{% block extra_nav_class %}container{% endblock extra_nav_class %}">
                <a class="header__logo white" href="{{ config.base_url }}">Real Steel</a>
                <a class="white" href="{{ get_url(path="@/documentation/_index.md") }}" class="nav-link">Docs</a>
                <a class="white" href="https://github.com/jkelleyrtp/FA19_POE_Final/" class="nav-link">GitHub</a>

                <div class="search-container">
                    <input id="search" type="search" placeholder="🔎 Search the docs">

                    <div class="search-results">
                        <div class="search-results__items"></div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content {% block extra_content_class %}{% endblock extra_content_class %}">
            {% block content %}
                <div class="hero">
                    <h1>{{ config.extra.intro_title }}</h1>
                    <p class="hero__tagline">
                        {{ config.extra.heroline }}
                    </p>
                    <img src="{{ resize_image(path="homepage/reaganbot.png", width=600, height=600) }}">
                    <p class"hero__tagline">
                        With love, from Olin College's 2019 Principles of Engineering class
                    </p>
                    <!-- <br> -->
                    <!-- <a href="{{ get_url(path="@/documentation/_index.md") }}" class="button">Get started</a> -->
                </div>

                <div class="inverted-colours selling-points">
                    <div class="selling-points__content container">
                        <div class="selling-point">
                            <h2>Real-time pose estimation</h2>
                            <p>
                                Real Steel uses the Microsoft Kinect to perform real-time pose estimation for an immersive shadow boxing experience. Never before has a robot felt so similar to humans.
                            </p>
                        </div>
                        <div class="selling-point">
                            <h2>8 degrees of freedom</h2>
                            <p>
                               The Real Steel shadow-boxing robots come with 8 degrees of freedom: 2 arms with shoulders and elbows and a base that allows the robot to bob and weave like no boxing robot before it.
                            </p>
                        </div>
                        <div class="selling-point">
                            <h2>Exceptionally awesome</h2>
                            <p>
                                With 8 motors, 4 custom slew bearings, 4 gears, custom encoder and quadrature boards, the Real Steel bots are mechabots of awesome in under just $250.
                            </p>
                        </div>
                    </div>
                </div>

            {% endblock content %}
        </div>
        <footer>
            ©2017-2019 — <a class="white" href="https://jonathan-kelley.com">Jonathan Kelley</a> and <a class="white" href="https://github.com/jkelleyrtp/FA19_POE_Final/graphs/contributors">contributors</a>
        </footer>

        <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
        <script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
        <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
    </body>
</html>
